*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --darkblue:#3674B5;
    --lightblue:#578FCA;
    --blue:#A1E3F9;
    --green:#D1F8EF;
}
body{
    background-color: var(--darkblue);
}
.container{
    border: 1px solid var(--darkblue);
    background-color: aliceblue;
    padding:20px;
    border-radius: 10px;
    height:50%;
    width:50%;
    transform:translate(50%,50%);
}
.searchbox{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap:15px;
}
.type{
    background-color: aliceblue;
    color: #2d2d2e;
    border: none;
    border-bottom: 2px solid var(--darkblue);
    outline: none;
    font-size: larger;
}
.button{
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
    background-color: var(--lightblue);
    color: aliceblue;
    font-size: larger;
}
.result{
    background-color: aliceblue;
    border-radius: 10px;
    height:50%;
    width:50%;
    transform:translate(50%,20%);
}
.section{
    margin-top: 10px; 
    padding:20px;
    display: grid;
    grid-template-columns: 2fr .5fr;
    font-size: larger;
}

.sound{
    border: none;
    background-color: aliceblue; 
    font-size: 40px;
}
.details{
    margin-top: 2px;
    display: grid;
    padding: 10px;
    padding-left: 25px;
    grid-template-columns: .001fr .001fr .001fr .001fr;
    gap:4px;
}
.output{
    display: grid;
    gap: 20px;
    margin: 20px;
    margin-top: 30px;
    font-size: large;
}
.example{
    border-left: 4px solid black;
    padding-left: 25px;
    font-style: italic;
    margin-bottom: 20px;
}
.main{
    margin-top: 10%;
}
button{
    cursor: pointer;
}

/* @media (max-width:800px) {
    .main{
        transform:translate(50%,50%);
    }
} */